<!DOCTYPE html>
<html lang="en">
	<head>
  		<meta charset="UTF-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  		<meta http-equiv="X-UA-Compatible" content="ie=edge">
  		<title>emmo's Pancakes</title>
  		<link rel="icon" type="image/jpg" href="../../images/favicon.jpg">
  		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  		<link rel="stylesheet" type="text/css" href="../styles/styles.css">
	</head>
	<body>
		<div class="navigation">
   			<ul>
    			<img src="../../images/logo.jpg">
    			<li class="list"><a href="sponsor.html">Sponsor</a></li>
    			<li class="list"><a href="#contact">Contact us</a></li>
    			<li class="list"><a href="gallery.html">Gallery</a></li>
    			<li class="list"><a href="prices.html">Prices</a></li>
    			<li class="list"><a href="menu.html">Menu</a></li>
    			<li class="list"><a href="../../index.html">Home</a></li>
   			</ul>
   			<div class="dd">
    			<img src="../../images/logo.jpg">
    			<button class="dd-btn"><i class="material-icons">menu</i></button>
    			<br>
    			<br>
    			<div class="dd-content">
    				<a href="../../index.html"><i class="material-icons">home</i></a>
 					<a href="menu.html">Menu</a>
					<a href="prices.html">Prices</a>
					<a href="#contact">Contact us</a>
					<a href="gallery.html">Gallery</a>
					<a href="sponsor.html">Sponsor</a>
    			</div>
   			</div>
  		</div>
  		<main>
  			<br>
			<h1>Menu</h1>
			<div class="menu">
				<div class="menu-h1">
			 		<h1>Regular</h1>
				</div>
				<div class="regular">
			 		<div class="men-cnt" id="container1">
				 		<a href="#image1"><img src="images/pancake-pics/img1.jpeg"/></a>
				 		<p class="img-info">Plain Dutch<br><b>#500</b></p>
			 		</div>
			 		<div class="men-cnt" id="container2">
				 		<a href="#image2"><img src="images/pancake-pics/img02.jpeg"/></a>
				 		<p class="img-info">Basic Dutch<br><b>#800</b></p>
			 		</div>
			 		<div class="men-cnt" id="container3">
						<a href="#image3"><img src="images/pancake-pics/img01.jpeg"/></a>
						<p class="img-info">Basic Crépe<br><b>#800</b></p>
			 		</div>
			 		<div class="men-cnt" id="container4">
				 		<a href="#image4"><img src="images/pancake-pics/img8.jpeg" /></a>
				 		<p class="img-info">Basic American<br><b>#1000</b></p>
			 		</div>
				</div>
				<div class="menu-h1">
			 		<h1>Specials</h1>
				</div>
				<div class="specials">
			 		<div class="men-cnt" id="container5">
				 		<a href="#image5"><img src="images/pancake-pics/img2.jpeg" /></a>
				 		<p class="img-info">Banana Burito<br><b>#1500</b></p>
			 		</div>
			 		<div class="men-cnt" id="container6">
				 		<a href="#image6"><img src="images/pancake-pics/img04.jpeg" /></a>
				 		<p class="img-info">Classic Dutch<br><b>#1500</b></p>
			 		</div>
			 		<div class="men-cnt" id="container7">
				 		<a href="#image7"><img src="images/pancake-pics/img5.jpeg" /></a>
				 		<p class="img-info">American laced with Syrup<br><b>#1800</b></p>
			 		</div>
			 		<div class="men-cnt" id="container8">
				 		<a href="#image8"><img src="images/pancake-pics/img6.jpeg" /></a>
				 		<p class="img-info">Crépe Special<br><b>#2000</b></p>
			 		</div>
			 		<div class="men-cnt" id="container9">
				 		<a href="#image9"><img src="images/pancake-pics/img12.jpeg" /></a>
				 		<p class="img-info">Japanese Puffs<br><b>#2500</b></p>
			 		</div>
				</div>
				<div class="menu-h1">
			 		<h1>Promos</h1>
				</div>
				<div class="promo">
			 		<div class="men-cnt" id="container10">
				 		<a href="#image10"><img src="images/pancake-pics/img3.jpeg" /></a>
				 		<p class="img-info">Classic pan aced with lemon syrup<br><b>before: <strike> #1500</strike><br>now: #1299.99k</b></p>
			 		</div>
			 		<div class="men-cnt" id="container11">
						<a href="#image11"><img src="images/pancake-pics/img4.jpeg" /></a>
				 		<p class="img-info">Breakfast Special<br><b>before: <strike>#2500</strike><br>now: #2399.99k</b></p>
			 		</div>
			 		<div class="men-cnt" id="container12">
				 		<a href="#image12"><img src="images/pancake-pics/img7.jpeg" /></a>
				 		<p class="img-info">Fruited American with Chocolate syrup<br><b>before: <strike> #3800</strike><br>now: #3499.99k</b></p>
			 		</div>
				</div>
				<div class="menu-h1">
			 		<h1>New</h1>
			 		<h6 class="men-h6"><em>5% discount using promo code 'NEW05ECX' </em></h6>
				</div>
				<div class="new">
			 		<div class="men-cnt" id="container13">
				 		<a href="#image13"><img src="images/pancake-pics/img10.jpeg" /></a>
				 		<p class="img-info">Fruited Crépe<br><b>#3000</b></p>
			 		</div>
			 		<div class="men-cnt" id="container14">
						<a href="#image14"><img src="images/pancake-pics/img11.jpeg" /></a>
				 		<p class="img-info">Chocolate Burito<br><b>#2500</b></p>
					</div>
				</div>
			</div>
			<div class="lightbox" id="image1">
				<a href="#" class="close"><i class="material-icons">close</i></a>
				<div class="lightbox-cnt">
					<img src="images/pancake-pics/img1.jpeg" />
				</div>
			</div>
			<div class="lightbox" id="image2">
				<a href="#" class="close"><i class="material-icons">close</i></a>
				<div class="lightbox-cnt">
					<img src="images/pancake-pics/img02.jpeg" />
				</div>
			</div>
			<div class="lightbox" id="image3">
				<a href="#container3" class="close"><i class="material-icons">close</i></a>
				<div class="lightbox-cnt">
					<img src="images/pancake-pics/img01.jpeg" />
				</div>
			</div>
			<div class="lightbox" id="image4">
				<a href="#container4" class="close"><i class="material-icons">close</i></a>
				<div class="lightbox-cnt">
					<img src="images/pancake-pics/img8.jpeg" />
				</div>
			</div>
			<div class="lightbox" id="image5">
				<a href="#container5" class="close"><i class="material-icons">close</i></a>
				<div class="lightbox-cnt">
					<img src="images/pancake-pics/img2.jpeg" />
				</div>
			</div>
			<div class="lightbox" id="image6">
				<a href="#container6" class="close"><i class="material-icons">close</i></a>
					<div class="lightbox-cnt">
					<img src="images/pancake-pics/img04.jpeg" />
				</div>
			</div>
			<div class="lightbox" id="image7">
				<a href="#container7" class="close"><i class="material-icons">close</i></a>
				<div class="lightbox-cnt">
					<img src="images/pancake-pics/img5.jpeg" />
				</div>
			</div>
			<div class="lightbox" id="image8">
				<a href="#container8" class="close"><i class="material-icons">close</i></a>
				<div class="lightbox-cnt">
					<img src="images/pancake-pics/img6.jpeg" />
				</div>
			</div>
			<div class="lightbox" id="image9">
				<a href="#container9" class="close"><i class="material-icons">close</i></a>
				<div class="lightbox-cnt">
					<img src="images/pancake-pics/img12.jpeg" />
				</div>
			</div>
			<div class="lightbox" id="image10">
				<a href="#container10" class="close"><i class="material-icons">close</i></a>
				<div class="lightbox-cnt">
					<img src="images/pancake-pics/img3.jpeg" />
				</div>
			</div>
			<div class="lightbox" id="image11">
				<a href="#container11" class="close"><i class="material-icons">close</i></a>
				<div class="lightbox-cnt">
					<img src="images/pancake-pics/img4.jpeg" />
				</div>
			</div>
			<div class="lightbox" id="image12">
				<a href="#container12" class="close"><i class="material-icons">close</i></a>
				<div class="lightbox-cnt">
					<img src="images/pancake-pics/img7.jpeg" />
				</div>
			</div>
			<div class="lightbox" id="image13">
				<a href="#container13" class="close"><i class="material-icons">close</i></a>
				<div class="lightbox-cnt">
					<img src="images/pancake-pics/img10.jpeg" />
				</div>	
			</div>
			<div class="lightbox" id="image14">
				<a href="#container14" class="close"><i class="material-icons">close</i></a>
				<div class="lightbox-cnt">
					<img src="images/pancake-pics/img11.jpeg" />
				</div>
			</div>
	    </main>
  		<footer class="footer" id="contact">
   			<div class="footer-body">
    			<div class="brand">
    				<h3>Emmo's Pancake</h3>
    			</div>
   				<div class="contact">
  	   				<address>
      					<p>11, JAJA road, opposite DSA building, Yaba, Lagos.</p>
     				</address>
     				<p>you can contact us via:</p>
     				<contact>
     					phone no: 08116604581 |  watsapp no: 08116604581 |  email: grggmmnl@gmail.com
     				</contact>
    			</div>
    			<div class="footer-img">
     				<center>
      					<p>follow us on:</p>
      					<a href="https://www.facebook.com/" target="_blank"><img src="../../images/socials/facebook.jpg" /></a>
      					<a href="https://www.instagram.com/emma_d_coder/" target="_blank"><img src="../../images/socials/IG logo.jpg" /></a>
      					<a href="https://www.twitter.com/" target="_blank"><img src="../../images/socials/twitter.png" /></a>
      					<a href="mailto:grggmmnl@gmail.com? subject=Dear%20Mr%20Olubiyi%20Emmanuel" target="_blank"><img src="../../images/socials/gmail.png" /></a>
     				</center>
   	 			</div>
   			</div>
   			<div class="copyright">
   	 			&copy; EMMO'S PANCAKES 2020; #100 days of Code.
    		</div>
   			<br> 
  		</footer>
 	</body>
</html>