<!DOCTYPE html>
<html lang="en">
	<head>
  		<meta charset="UTF-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  		<meta http-equiv="X-UA-Compatible" content="ie=edge">
  		<title>emmo's Pancakes</title>
  		<link rel="icon" type="image/jpg" href="../../images/favicon.jpg">
  		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  		<link rel="stylesheet" type="text/css" href="../styles/styles.css">
	</head>
	<body>
		<div class="navigation">
   			<ul>
    			<img src="../../images/logo.jpg">
    			<li class="list"><a href="sponsor.html">Sponsor</a></li>
    			<li class="list"><a href="#contact">Contact us</a></li>
    			<li class="list"><a href="gallery.html">Gallery</a></li>
    			<li class="list"><a href="prices.html">Prices</a></li>
    			<li class="list"><a href="menu.html">Menu</a></li>
    			<li class="list"><a href="../../index.html">Home</a></li>
   			</ul>
   			<div class="dd">
    			<img src="../../images/logo.jpg">
    			<button class="dd-btn"><i class="material-icons">menu</i></button>
    			<br>
    			<br>
    			<div class="dd-content">
    				<a href="../../index.html"><i class="material-icons">home</i></a>
 					<a href="menu.html">Menu</a>
					<a href="prices.html">Prices</a>
					<a href="#contact">Contact us</a>
					<a href="gallery.html">Gallery</a>
					<a href="sponsor.html">Sponsor</a>
    			</div>
   			</div>
  		</div>
		  	<main>
				<table>
				 <caption>Prices</caption>
				 <thead>
					  <tr>
						   <th>Pancake</th>
						   <th>amt/Pack</th>
						   <th>Sizes</th>
						   <th>Prices</th>
						  </tr>
					 </thead>
					 <tbody>
						 <tr>
							 <th rowspan="3" class="m-td">Basic Dutch</th>
							 <td>3</td>
							 <td>small</td>
							 <td>#800</td>
						 </tr>
						 <tr>
							 <td>6</td>
							 <td>buddies</td>
							 <td>#1500</td>
						 </tr>
						 <tr>
							 <td>9</td>
							 <td>family</td>
							 <td>#2200</td>
						 </tr>
						 <tr>
							 <th rowspan="3" class="m-td">Classic Dutch</th>
							 <td>2</td>
							 <td>small</td>
							 <td>#800</td>
						 </tr>
						 <tr>
							 <td>4</td>
							 <td>buddies</td>
							 <td>#1500</td>
						 </tr>
						 <tr>
							 <td>8</td>
							 <td>family</td>
							 <td>#2200</td>
						 </tr>
						 <tr>
							 <th rowspan="3" class="m-td">American</th>
							 <td>1</td>
							 <td>small</td>
							 <td>#800</td>
						 </tr>
						 <tr>
							 <td>2</td>
							 <td>buddies</td>
							 <td>#1500</td>
						 </tr>
						 <tr>
							 <td>4</td>
							 <td>family</td>
							 <td>#2200</td>
						 </tr>
						 <tr>
							 <th rowspan="3" class="m-td">Banana buskito</th>
							 <td>3</td>
							 <td>small</td>
							 <td>#950</td>
						 </tr>
						 <tr>
							 <td>6</td>
							 <td>buddies</td>
							 <td>#1700</td>
						 </tr>
						 <tr>
							 <td>9</td>
							 <td>family</td>
							 <td>#2300</td>
						 </tr>
						 <tr>
							 <th rowspan="3" class="m-td">Japanese puffs</th>
							 <td>1</td>
							 <td>small</td>
							 <td>#800</td>
						 </tr>
						 <tr>
							 <td>2</td>
							 <td>buddies</td>
							 <td>#1500</td>
						 </tr>
						 <tr>
							 <td>4</td>
							 <td>family</td>
							 <td>#2200</td>
						 </tr>
						 <tr>
							 <th rowspan="3" class="m-td">Crépe</th>
							 <td>4</td>
							 <td>small</td>
							 <td>#800</td>
						 </tr>
						 <tr>
							 <td>8</td>
							 <td>buddies</td>
							 <td>#1500</td>
						 </tr>
						 <tr>
							 <td>12</td>
							 <td>family</td>
							 <td>#2200</td>
						 </tr>
					 </tbody>
				</table>
				<div class="table">
				 <em><p>We also give discounts when you buy a set amount of packs.<br> Our discount offers can be seen below</p></em>
				</div>
				<table>
					<caption>Discounts</caption>
					<thead>
						<tr>
							<th rowspan="2">Pancake</th>
							<th rowspan="2">Sizes</th>
							<th colspan="3">Discount</th>
						</tr>
						<tr>
							<td class="m-td">5 packs</td>
							<td class="m-td">12 packs</td>
							<td class="m-td">More</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td rowspan="3" class="m-td">Basic Dutch</td>
							<td>small</td>
							<td>#3800</td>
							<td>#9200</td>
							<td>3%</td>
						 </tr>
						 <tr>
							 <td>buddies</td>
							 <td>#7200</td>
							 <td>#17500</td>
							 <td>5%</td>
						 </tr>
						 <tr>
							 <td>family</td>
							 <td>#9600</td>
							 <td>#25600</td>
							 <td>8%</td>
						 </tr>
						 <tr>
							 <td rowspan="3" class="m-td">Classic Dutch</td>
							 <td>small</td>
							 <td>#3800</td>
							<td>#9200</td>
							<td>3%</td>
						 </tr>
						 <tr>
							 <td>buddies</td>
							 <td>#7200</td>
							 <td>#17500</td>
							 <td>5%</td>
						 </tr>
						 <tr>
							 <td>family</td>
							 <td>#9600</td>
							 <td>#25600</td>
							 <td>8%</td>
						 </tr>
						 <tr>
							 <td rowspan="3" class="m-td">American</td>
							 <td>small</td>
							 <td>#3800</td>
							<td>#9200</td>
							<td>3%</td>
						 </tr>
						 <tr>
							 <td>buddies</td>
							 <td>#7200</td>
							 <td>#17500</td>
							 <td>5%</td>
						 </tr>
						 <tr>
							 <td>family</td>
							 <td>#9600</td>
							 <td>#25600</td>
							 <td>8%</td>
						 </tr>
						 <tr>
							 <td rowspan="3" class="m-td">Banana buskito</td>
							 <td>small</td>
							 <td>#3900</td>
							<td>#9500</td>
							<td>2.5%</td>
						 </tr>
						 <tr>
							 <td>buddies</td>
							 <td>#7200</td>
							 <td>#17500</td>
							 <td>5%</td>
						 </tr>
						 <tr>
							 <td>family</td>
							 <td>#9600</td>
							 <td>#25600</td>
							 <td>8%</td>
						 </tr>
						 <tr>
							 <td rowspan="3" class="m-td">Japanese puffs</td>
							 <td>small</td>
							 <td>#3800</td>
							<td>#9200</td>
							<td>3%</td>
						 </tr>
						 <tr>
							 <td>buddies</td>
							 <td>#7200</td>
							 <td>#17500</td>
							 <td>5%</td>
						 </tr>
						 <tr>
							 <td>family</td>
							 <td>#9600</td>
							 <td>#25600</td>
							 <td>8%</td>
						 </tr>
						 <tr>
							 <td rowspan="3" class="m-td">Crépe</td>
							 <td>small</td>
							 <td>#3800</td>
							<td>#9200</td>
							<td>3%</td>
						 </tr>
						 <tr>
							 <td>buddies</td>
							 <td>#7200</td>
							 <td>#17500</td>
							 <td>5%</td>
						 </tr>
						 <tr>
							 <td>family</td>
							 <td>#9600</td>
							 <td>#25600</td>
							 <td>8%</td>
						 </tr>
					</tbody>
				</table>
		   	</main>
  		<footer class="footer" id="contact">
   			<div class="footer-body">
    			<div class="brand">
    				<h3>Emmo's Pancake</h3>
    			</div>
   				<div class="contact">
  	   				<address>
      					<p>11, JAJA road, opposite DSA building, Yaba, Lagos.</p>
     				</address>
     				<p>you can contact us via:</p>
     				<contact>
     					phone no: 08116604581 |  watsapp no: 08116604581 |  email: grggmmnl@gmail.com
     				</contact>
    			</div>
    			<div class="footer-img">
     				<center>
      					<p>follow us on:</p>
      					<a href="https://www.facebook.com/" target="_blank"><img src="../../images/socials/facebook.jpg" /></a>
      					<a href="https://www.instagram.com/emma_d_coder/" target="_blank"><img src="../../images/socials/IG logo.jpg" /></a>
      					<a href="https://www.twitter.com/" target="_blank"><img src="../../images/socials/twitter.png" /></a>
      					<a href="mailto:grggmmnl@gmail.com? subject=Dear%20Mr%20Olubiyi%20Emmanuel" target="_blank"><img src="../../images/socials/gmail.png" /></a>
     				</center>
   	 			</div>
   			</div>
   			<div class="copyright">
   	 			&copy; EMMO'S PANCAKES 2020; #100 days of Code.
    		</div>
   			<br> 
  		</footer>
 	</body>
</html>