<!DOCTYPE html>
<html>
	<head>
  		<meta charset="UTF-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  		<meta http-equiv="X-UA-Compatible" content="ie=edge">
  		<title>emmo's Pancakes</title>
  		<link rel="icon" type="image/jpg" href="../../images/favicon.jpg">
  		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  		<link rel="stylesheet" type="text/css" href="../styles/styles.css">
	</head>
	<body>
		<div class="navigation">
   			<ul>
    			<img src="../../images/logo.jpg">
    			<li class="list"><a href="sponsor.html">Sponsor</a></li>
    			<li class="list"><a href="#contact">Contact us</a></li>
    			<li class="list"><a href="gallery.html">Gallery</a></li>
    			<li class="list"><a href="prices.html">Prices</a></li>
    			<li class="list"><a href="menu.html">Menu</a></li>
    			<li class="list"><a href="../../index.html">Home</a></li>
   			</ul>
   			<div class="dd">
    			<img src="../../images/logo.jpg">
    			<button class="dd-btn"><i class="material-icons">menu</i></button>
    			<br>
    			<br>
    			<div class="dd-content">
    				<a href="../../index.html"><i class="material-icons">home</i></a>
 					<a href="menu.html">Menu</a>
					<a href="prices.html">Prices</a>
					<a href="#contact">Contact us</a>
					<a href="gallery.html">Gallery</a>
					<a href="sponsor.html">Sponsor</a>
    			</div>
   			</div>
  		</div>
  		<main>
			<div class="banner">
				<div id="slider" class="slider1">
				 	<figure>
						<div class="slider">
							<center>
								<div class="slider2">
								  <h1 class="heading1"><em>Emmo's Pancake</em></h1>
							 	</div>
								<br>
							 	<br>
							 	<a href="menu.html"><div class="exp-btn">explore</div></a>
							</center>
					   	</div>
					   	<img src="../../images/pancake-pics/img5.jpeg" />
					   	<img src="../../images/pancake-pics/img2.jpeg" />
					  	<img src="../../images/pancake-pics/img6.jpeg" />
					   	<img src="../../images/pancake-pics/img4.jpeg" />
				 	</figure>
				</div>
			</div>
			<div class="give">
				<h1 class="sp-h1">Sponsor <em>Emmo</em> on his coding adventure.</h1>
				<br>
				<h2 class="sp-h2">his needs</h2>
				<ul>
					<li><b>A good Computer</b></li>
					<li><b>A stable Internet Connection</b></li>
					<li><b>Money</b></li>
				</ul>
				<br>
				<h3 class="sp-h3">
				<dl>
					<dt>You can send your cash token to the following bank account</dt>
					<dd>2191460263 (Zenith bank)</dd>
					<dd>0565019106 (GTBank)</dd>
				</dl>
				<br>
				<p>give cheerfully, you can see it as an investment, who knows what i can do in future that will benefit you.<p>
				<p>God bless you richly</p>
				<p>everything was created by me during my learning process.</p>
				<br>
				<p><b>disclaimer: </b><em>I am not just coding for money, but I am coding because I have a passion to do it and later have a great impact on my world through technology</em></p>
			</div>
		</main>
  		<footer class="footer" id="contact">
   			<div class="footer-body">
    			<div class="brand">
    				<h3>Emmo's Pancake</h3>
    			</div>
   				<div class="contact">
  	   				<address>
      					<p>11, JAJA road, opposite DSA building, Yaba, Lagos.</p>
     				</address>
     				<p>you can contact us via:</p>
     				<contact>
     					phone no: 08116604581 |  watsapp no: 08116604581 |  email: grggmmnl@gmail.com
     				</contact>
    			</div>
    			<div class="footer-img">
     				<center>
      					<p>follow us on:</p>
      					<a href="https://www.facebook.com/" target="_blank"><img src="../../images/socials/facebook.jpg" /></a>
      					<a href="https://www.instagram.com/emma_d_coder/" target="_blank"><img src="../../images/socials/IG logo.jpg" /></a>
      					<a href="https://www.twitter.com/" target="_blank"><img src="../../images/socials/twitter.png" /></a>
      					<a href="mailto:grggmmnl@gmail.com? subject=Dear%20Mr%20Olubiyi%20Emmanuel" target="_blank"><img src="../../images/socials/gmail.png" /></a>
     				</center>
   	 			</div>
   			</div>
   			<div class="copyright">
   	 			&copy; EMMO'S PANCAKES 2020; #100 days of Code.
    		</div>
   			<br> 
  		</footer>
 	</body>
</html>